@font-face {
    font-family: "PT Sans";
    src: url(../fonts/PTSans-Italic.ttf);
}

@media screen and (min-width:320px) and (max-width:900px) {
    ol.carousel-indicators {
        visibility: hidden;
    }

    .slider_container {
        flex-direction: column;
        margin: 0;
    }

    .navbar {
        display: none;
    }

    .menu_top_menu {

        justify-content: space-around !important;

    }

    .menu_icons {
        width: 100vw !important;

    }

    .carousel-content {
        margin-top: 8vw;
    }


}

.row1 {
    margin-left: -15px;
    margin-right: -15px;

}

.menu_top {
    z-index: 1;
    background-color: #0e0e0e;
}

.menu_top_left {
    margin-left: -15px;
}

#menu_top_text {
    display: inline-block;
    font-family: "PT Sans";
    color: #818181;
    font-size: 14px;
    margin-top: 1vh;
    margin-left: 8vw;
}

.menu_top_menu {

    justify-content: flex-end;
    margin-left: 15px;
}

.menu_icons {
    width: 20vw;
    margin-right: 8vw;
    margin-left: 8vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.menu_top_menu img {
    display: inline-block;
}

.menu {
    justify-content: space-between;
}

.carousel-content {
    position: absolute;
    margin-top: 10vw;
    margin-left: 8vw;
    z-index: 1;
    font-family: "Bebas Neue";
    font-size: 82px;
    color: white;
    line-height: 60px;

}

.carousel-content p {
    margin-top: 0;

    display: inline-block;
}

.content-footer {
    margin-top: 68px;
    margin-left: 4px;
}

.order:hover,
.request:hover {
    background-color: #977869;
}

.order {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 18px;
    color: #977869;
    letter-spacing: 1.8px;
    border: 1px solid #977869;
    border-radius: 0px;
}

.request {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 18px;
    color: #977869;
    letter-spacing: 1.8px;
    border: 1px solid #977869;
    border-radius: 0px;
}



#logo_text {
    display: inline-block;
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
    margin-left: 8vw;
    margin-top: 60px;
}

#logo_text2 {
    display: inline-block;
    font-family: "PT Sans";
    color: #818181;
    font-size: 14px;
    margin-top: 74px;
    margin-left: 17px;
    margin-right: 8vw;
}

.navbar {
    position: absolute;

    z-index: 1;
    margin-top: -3vw;
    font-family: "Bebas Neue";
    width: 100%;
}

.navbar-brand {
    text-decoration: none;
    justify-content: center;
    padding: 0;
    margin-bottom: 60px;
    margin-left: -15px;
}

.nav-link {
    color: white;
}

.navbar-nav a:hover {
    text-decoration: underline;
    color: #977869;
}

.center-menu {
    justify-content: space-around;
    width: 100%;
    margin-right: 9vw;
}

#phone_number {
    justify-self: flex-end;
    display: inline-block;
    font-family: "Bebas Neue";
    color: white;
    font-size: 24px;
    margin-right: 8vw;
}

ol.carousel-indicators {
    display: flex;
    width: auto;
    justify-content: space-between;
    width: 10%;
    margin-left: 8vw;
    margin-bottom: 91px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
}

ol.carousel-indicators li {
    background: rgba(182, 144, 126, 0.50);
}

ol.carousel-indicators li.active {
    background: #b6907e;
}

.collection_text {
    margin-left: 8vw;
    display: inline-block;
    color: white;
    font-family: "Bebas Neue";
    font-size: 48px;
}

.colections_div {
    margin-left: -15px;
}

.collections {
    background-color: #000000;
    justify-content: center;
}

.collections_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 634px;
    width: 420px;
    margin-top: 69px;
    margin-bottom: 61px;

    border: 1px solid #977869;
}

.collections_item img {
    /* margin-top: 72px; */
    height: 384px;
}

.collections_item h3 {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
}

.collections_item h4 {
    color: #b6907e;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;

}

.collection_carousel {
    display: flex;
    justify-content: space-around;
    width: 90vw;
}

/* .carousel-control-prev {
    margin-left: -8vw;
}

.carousel-control-next {
    margin-right: -8vw;
} */

.carousel-control-next-icon {
    background-image: url(../img/next_icon.png);
    width: 52px;
    height: 36px;
}

.carousel-control-prev-icon {
    background-image: url(../img/prev_icon.png);

    width: 52px;
    height: 36px;
}


.brands {

    display: flex;
    background-color: #0e0e0e;
    padding: 10vh;
    justify-content: space-around;
}

.brands img {
    display: inline-block;
    padding: 30px;
}

.customers {
    background-color: black;
}


.customer_text {
    text-align: center;
    display: inline-block;
    color: white;
    font-family: "Bebas Neue";
    font-size: 48px;
    padding-top: 90px;
    background-color: black;
    width: 100%;
}


.customer_slide {
    margin-top: 45px;
    display: flex;
    margin-left: 8vw;
    padding-right: 8vw;
}

.slider_container {
    display: flex;
}

.customer_slide_text {
    display: inline-block;
    margin-top: 45px;
    margin-left: 60px;
}

.customer_slide p {
    display: inline-block;
    color: #767676;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.customer_slide h3 {
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 400;
}

.customer_slide img {
    width: 120px;
}

#customer_indicators {
    display: flex;
    position: relative;
    width: auto;
    justify-content: space-between;
    width: 10%;

    padding-bottom: 70px;
}

.cust {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    
    background-color: #0e0e0e;
    padding-left: 8vw;
    margin-left: -15px;
    margin-right: -15px;

}

.footer.left {

    display: flex;
    flex-direction: column;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    position: relative;
    display: inline-block;
    margin-top: 63px;
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer h3 {
    display: inline-block;
    margin-top: 44px;
    font-family: "PT Sans";
    color: #818181;
    font-size: 14px;
}


.list-unstyled {
    margin-top: 36px;
    display: inline-block;
}

.list-unstyled a {
    font-family: "Bebas Neue";
    color: #5e5d5d;
    font-size: 18px;
    text-decoration: none;
    line-height: 48px;
}

#input_email {
    margin-top: 44px;
    width: 254px;
    background-color: #0e0e0e;
    font-family: "PT Sans";
    border-radius: 0;
    border: 1px solid #232323;
}

.confirm-email {

    margin-top: 44px;
    width: 150px;
    font-family: "Bebas Neue";
    background-color: #b6907e;
    border-radius: 0%;
    border: 1px solid #b6907e;

}

.footer-end {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #0e0e0e
}

.footer-end h4 {
    display: inline-block;
    margin-left: 8vw;
    font-family: "PT Sans";
    color: #818181;
    font-size: 14px;
}

.footer-end img {
    display: inline-block;
    width: 17px;
    height: 17px;
}

.soc {
    margin-right: 8vw;
    width: 40px;
}